<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
<title>Homecoming 2012</title>
</head>

<p style="font:'Muli', arial, serif;">Homecoming 2012 Site--Coming Soon!</p>
<p style="font:'Muli', arial, serif;"><a href="file:///Dry Bones/Users/alovejoy/Desktop/UBER/htdocs_homecoming/themes/homecoming/templates/HC 2012 Contact List2 Sheet1.pdf">Contact the Homecoming Executive Council</p>


<body>
</body>
</html>
