@charset "UTF-8";
/* CSS Document */

body {
background-color: #999999;
font-family: 'Muli', arial, serif;
font-weight: 300;
background-image:url(/themes/homecoming/images/concrete1.png);


}

#container {
	width:975px;
	border-style:solid;
	border-width:7px;
	background:#fff;
	box-shadow:0 0 5px 5px #000000;
	border-color:#000;
	margin: 0px auto;
	font-family:'Muli', arial, serif;
}

#table {
	margin:0px auto;
	font-family:Arial, Helvetica, sans-serif;
	width:850px;
	padding:0px;
}

#table td {
	padding-bottom:10px;
}

#table h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	padding-bottom:0px;

}

#table h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	padding-bottom:0px;
	text-align:center;

}

#clear {
	clear:both;
}