@charset "UTF-8";
/* CSS Document */

/* Table of Contents:

	Typography
	Overall structure-wrappers
	Header Layout
	Middle Layout
	Footer Layout
	
*/

/* Typography
--------------------------------------------------------------------------------------- */

a.info-packet{
	display:block;
	height:130px;
	width:191px;
	margin-top:15px;
	background:url(../images/infopacket.png);
	background-position:5px -125px;
	background-repeat:no-repeat;
	text-indent: -9999px;}
	
p {
	margin-top: 5px;
}
	
p.application {margin-top:5px;
		font-variant:small-caps;}
p.paradeform {margin:-70px 0 5px 90px;
	font-variant:small-caps;
	font-size:1.2em;}




a {outline:none;}












#sponsorcontent.typography h1 	
	{font-size:120%;
	font-family: Tahoma,"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#ffcc66;
	text-transform:uppercase;
	padding:15px 0 15px 15px;}
#outsidesponsors {
	width:390px;
	float:right;
	font:120% Tahoma,"Trebuchet MS", Arial, Helvetica, sans-serif;}
p.date {
	text-transform:lowercase;}
p.orderforms, p.copyright, ul.navfoot a {
	color:white;
	font-family: Tahoma,"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:75%;
	text-align:left;
	margin-left:12px;}
#tabs h3 {
	font-size:125%;
	color:#ffcc66;
	padding-top:15px;}
#othercontent a:link
	{text-decoration:none;
	color:white;}
#othercontent.typography, #maincontent.typography {
	font:95% Tahoma,"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#e8e8e8;}
#othercontent.typography h1, #maincontent.typography h1 	
	{font-size:120%; 
	font-family:Tahoma,"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#ffcc66; 
	text-transform:uppercase;
	padding:15px 0 15px 15px;}
#othercontent.typography h2, #maincontent.typography h2
	{font-size: 105%;
	font-variant:small-caps; 
	font-weight:bold;
	padding:20px 25px 0px 0px;
	color:#ffcc66;}
#maincontent.typography h3 #othercontent.typography h3
	{font-size:95%;
	padding:5px 25px 10px 25px;
	color:#FFE2A8;}
 #othercontent.typography h4, #maincontent.typography h4
	{color:#ffcc66; 
	padding:15px 0 5px 0px;
	font-size: 95%;
	font-variant:small-caps;
	font-weight: bold;}
#othercontent.typography h5, #maincontent.typography h5
	{font-variant:small-caps;
	font-size:95%;
	color:#ffcc66;
	padding:5px 0 0px 25px; }
#othercontent.typography li, #maincontent.typography li 
	{font-size:80%;
	color:#FFE2A8;}

.typography ul li span, .left-feature h4, .right-feature h4 
	{color:white;
	font-variant:small-caps;
	font-weight:bold;
	font-size:95%;}
#tabs.typography h1 	
	{font-size:120%;
	font-family:Tahoma,"Trebuchet MS", Arial, Helvetica, sans-serif; 
	color:#ffcc66; 
	text-transform:uppercase;
	padding:15px 0 0px 15px;}
p.cab, p.date{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:white;
	font-size:80%;
	text-align:center;}
.description p {
	font-size:85%; 
	color:#FFE2A8;
	}
	
	.clear {clear:both;}
/* Structure 
--------------------------------------------------------------------------------------- */
body {background-color:#2a2626;}
#wrapper {
		width:980px;
		margin:0px auto 0px auto;}
#container {
		min-height:410px;}
/* Header Layout
--------------------------------------------------------------------------------------- */
ul.nav li a, h1.logo a, h2.comedy a, p.time, p.order a, h1#habitat-for-humanity, h1#royalty, h1#parade, h1#events, h1#contacts, h1#sponsors, h1#habitat-for-humanity, h1#royalty, h1#parade, ul.university a {color:transparent;}


ul.nav {
	width:845px; 
	margin-top:-40px;
	margin-left:80px;
	list-style:none;}
ul.nav li a {
	display: block; 
	height:45px; 
	background:url(../images/navbar.png); 
	text-indent: -9999px;}
	
ul.nav li {
float:left;}
		
ul.nav li a.home {
	width:55px;
	background-position: 0 43px;}
ul.nav li a.events {
	width:60px; 
	background-position: -55px 43px;}
ul.nav li a.parade {
	width:65px; 
	background-position: -115px 43px;}
ul.nav li a.royalty {
	width:70px; 
	background-position: -180px 43px;}
ul.nav li a.habitat-for-humanity {
	width:165px; 
	background-position: -500px 43px;
	margin-left:250px;}
ul.nav li a.sponsors {
	width:80px; 
	background-position:-665px 43px;}
ul.nav li a.contacts {
	width:80px; 
	background-position: -745px 43px;}
ul.nav li a.home:hover {
	width:55px;
	background-position: 0 128px;}
ul.nav li a.events:hover {
	width:60px; 
	background-position: -55px 128px;}
ul.nav li a.parade:hover {
	width:65px; 
	background-position: -115px 128px;}
ul.nav li a.royalty:hover {
	width:70px; 
	background-position: -180px 128px;}
ul.nav li a.habitat-for-humanity:hover {
	width:165px; 
	background-position: -500px 128px;
	margin-left:250px;}
ul.nav li a.sponsors:hover {
	width:80px; 
	background-position:-665px 128px;}
ul.nav li a.contacts:hover {
	width:80px; 
	background-position: -745px 128px;}	
ul.nav li a.home:active {
	width:55px;
	background-position: 0 86px;}
ul.nav li a.events:active {
	width:60px; 
	background-position: -55px 85px;}
ul.nav li a.parade:active {
	width:65px; 
	background-position: -115px 85px;}
ul.nav li a.royalty:active {
	width:70px; 
	background-position: -180px 85px;}
ul.nav li a.habitat-for-humanity:active {
	width:165px; 
	background-position: -500px 85px;
	margin-left:250px;}
ul.nav li a.sponsors:active {
	width:80px; 
	background-position:-665px 85px;}
ul.nav li a.contacts:active {
	width:80px; 
	background-position: -745px 85px;}
#header {  
	width:846px;
	height:391px; 
	padding:45px 0px 0px 66px; 
	 }
.headerimg { 
	background-repeat: no-repeat; 
	width:846px; 
	height:391px;
	position:absolute; }
h1.logo {
	margin-top:30px;}
h1.logo a {
	display: block; 
	height:64px;
	width:246px;
	background:url(../images/home.png) no-repeat 0 2px; 
	text-indent: -9999px;
	margin:30px 0px 1px 335px;}

/* Middle Layout
--------------------------------------------------------------------------------------- */
img.left {padding-left:10px;}
/*a.button				
	{background: transparent url(../images/shirt.png) no-repeat 12px 15px; 
	float: left; 
	width:190px;
	height:200px;}
a.button:hover	
	{width:190px;
	background-position: -174px 9px;}*/
h2.comedy a {
	display: block; 
	height:90px;
	width:189px;
	background: url(../images/johnnywalker.png) no-repeat 0 -185px; 
	text-indent: -9999px;
	margin-left:5px;}
h2.comedy a:hover {
	width:243px;
	height:180px;
	background-position:0px -14px;}
p.time {
	height:40px;
	width:132px;
	background:url(../images/9pm.png) no-repeat 25px -25px; 
	text-indent: -9999px;}
p.order a{
	display:block;
	height:180px;
	width:318px;
	background:url(../images/councilapp.png) no-repeat 0px -5px; 
	text-indent: -9999px;}
h1#events {height:40px;
	width:80px;
	background:url(../images/headlines.png) no-repeat 10px 10px; 
	text-indent: -9999px;}
h1#parade {height:70px;
	width:155px;
	background:url(../images/headlines.png) no-repeat -87px 10px; 
	text-indent: -9999px;}
h1#royalty {height:20px;
	width:90px;
	background:url(../images/headlines.png) no-repeat -252px 10px; 
	text-indent: -9999px;}
h1#habitat-for-humanity {height:20px;
	width:230px;
	background:url(../images/headlines.png) no-repeat -360px 10px; 
	text-indent: -9999px;}
h1#sponsors {height:20px;
	width:110px;
	background:url(../images/headlines.png) no-repeat -610px 10px; 
	text-indent: -9999px;}
h1#contacts {
	height:20px;
	width:103px;
	background:url(../images/headlines.png) no-repeat -732px 10px; 
	text-indent: -9999px;}
#comedian-box { 
	background:url(../images/comedian-background.png) no-repeat 0px 0px;
	float:left;
	width:500px;
	height:218px;
	margin-left:80px;}
#apparel-box {
	background:black;
	margin:18px 0px 20px 0px;
	border: 1px solid #666666;
	float:left;
	width:330px;
	height:200px;
	padding:0;}
#apparel-text {
	width:290px;
	height:180px;
	background-color:#2a2626;
	border:1px solid #666666;
	margin:10px 0px 10px 20px; 
	}
div#fightsong {float:right; width:150px; height:100px; margin:20px 10px 0 10px;}
embed#single2 {float:right; margin:0 10px 0 10px;}
p.fight {color:#ffcc66; font-family: Tahoma,"Trebuchet MS",Arial,Helvetica,sans-serif; font-variant:small-caps; margin:0px 0 0 0px;}

#comedian-text-box {
	width:200px;
    height:178px;
	border:1px solid #666666;
	margin:30px 0px 12px 10px;
	background:#2a2626 url(../images/circles.png) no-repeat center center;}
#sponsorcontent {background:#ffffcc;
	margin:0px 65px 0px 82px;
	border: 8px solid #ffcc66;
	float:left;
	width:820px;
	min-height:590px;
	padding:0;}
#sponsorcontent {background:gray;
	margin:0px 65px 0px 82px;
	border: 8px solid #ffcc66;
	float:left;
	width:820px;
	min-height:590px;
	padding:0;}
#habitatcontent {
	width:800px;
	min-height:570px;
	margin:5px 5px 5px 10px;}
#universityorgs{
	width:350px;
	padding-left:25px;
	float:left;}
img.sponsor {
	padding-bottom:15px;}
.left-feature {
	padding-left:25px;
	display:block;
	float:left;
	width:350px;}

	
.right-feature {
	padding: 10px 45px 0 0;
	display:block;
	float:right;}
.description {
	padding:0 0 10px 25px;}
.left-feature h4,  .right-feature h4 
	{padding-left:25px;}
.left-feature ul, .right-feature ul {
	padding-left:50px;}
	
	
#coronation-feature {
	padding:80px 0px 0px 20px;
	display:block;
	float:left;
	width:280px;}

html>body #coronation-feature {*padding-top:20px;}
html>body #guest-feature {*width:500px;}
html>body .left-feature {*width:320px;}
#guest-feature {
	display:block;
	float:left;
	padding: 10px 10px 10px 25px;}
	
#othercontent {
	background:black;
	margin:0px 65px 20px 82px;
	border: 8px solid #ffcc66;
	float:left;
	width:820px;
	min-height:590px;
	padding:0px 0px 50px 0px;}
#description {
	display:block;
	float:left;
	width:245px;
	padding:10px 10px 10px 25px;
	}
#description h3 {
	padding-top:10px;}
#maincontent, #tabs {
	background:black;
	margin:0px 65px 20px 0px;
	border: 8px solid #ffcc66;
	float:right;
	width:580px;
	min-height:590px;
	padding:0;}
#tabs ul {
	padding-top:15px;}
a {color:#ffcc66;
	text-decoration:none;}
a:hover {color:white;}
#sidebar {
	display:block;
	margin:0px 45px 0px 0px;
	border:none;
	background:url(../images/herky.png) no-repeat -15px 187px;
	float:right;
	width:250px;
	height:610px;
	padding:0;}
.mask {
	background:url(../images/mask.png) no-repeat;
	height:391px;
	width:845px;}
.topphoto {display: block; 
	height:180px;
	width:180px;
	border:8px solid #ffcc66;
	margin-left:60px;}
.bottomphoto {
	display: block; 
	height:180px;
	width:180px;
	border:8px solid #ffcc66;
	margin:214px 0 0 60px;}
p.cab {
	margin-top:15px;}

/* Footer Layout
--------------------------------------------------------------------------------------- */
#footer {
clear:both;
	width:830px;
	height:115px;
	background-color:#1b191a;
	border:3px solid #141413;
	margin:20px 80px 20px 80px;}

p.copyright {
	margin-bottom:2px;}
.navfoot li
	{display:inline;}
.navfoot li a {
	list-style-type:none;
	text-decoration:none;
	padding-right:15px;
	border-right:1px solid white;
	font-size:73%;}
.navfoot li a.contacts {
	border:none;}
ul.university a {
	display: block; 
	height:33px;
	width:240px;
	background:url(../images/logo.png) no-repeat;
	text-indent: -9999px;
	margin:5px 0 0 11px;}
.ada {font-size:65%; 
	  color:white;
	  padding: 5px 15px 3px 12px;
	  font-family: Tahoma,"Trebuchet MS", Arial, Helvetica, sans-serif;}