.council-member {
	border-bottom: 1px solid #eee;
	margin-bottom: 1em;
	padding-bottom: 1em;
}
.council-member:last-of-type {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
.council-img {
	@include media-breakpoint-up(sm) {
		float: left;
		margin: 0 1.2em 1.2em 0;
	}
}
.council-pos,
.council-bio {
	font-size: $font-size-base * .9;
}