
.eventsbydate .title,
.announcements .title {
	font-size: 20px;
	letter-spacing: 1px;
}
.eventsbydate li,
.announcements li {
	border-bottom: 1px solid $gray-300;
	position: relative;
	& a {
		color: $gray-800;
		display: block;
		padding: 10px 0 10px 23px;
		transition: all .2s ease-in-out;
		&:hover {
			background-color: rgba(255,255,255,.5);
			padding-left: 20px;
			padding-right: 3px;
		}
	}
}
.eventsbydate .glyphicon,
.announcements .glyphicon {
	font-size: 10px;
	padding-left: 0;
	padding-right: 12px;
	top: 24px;
	left: 1px;
	transition: all .2s ease-in-out;
	position: absolute;
	margin-top: -6px;
}
.eventsbydate li:hover .glyphicon,
.announcements li:hover .glyphicon {
	color: $yellow;
}