.header {
	background-color: #181818;
	box-shadow: 0 0 6px rgba(0,0,0,.5);
	position: relative;
	z-index: 10;
}
.header-container {
	padding: .5em;
	@media screen and (min-width :$break-medium) {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.logo {
	&__anchor {
		display: flex;
		align-items: center;
		&:hover, &:focus {
			text-decoration: none;
		}
	}
	&__img {
		display: block;
		margin-right: 1em;
		width: 85px;
	}
	&__title {
		margin: 0;
		color: #fff;
		font-size: 34px;
		text-transform: uppercase;
		line-height: 1;
		letter-spacing: 1px;
		@media screen and (min-width :$break-medium) {
			font-size: 44px;
		}
	}
}
/* ---------------------------------------------------------------
Header Top
--------------------------------------------------------------- */
.header-date {
	color: #ccc;
	font-size: 14px;
	margin: 0;
	@media screen and (min-width: $break-medium) {
		float: right;
	}
}
