
.home-four-up p {
  font-size: 13px;
  line-height: 1.4;
}


.fixed {
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 490px;
  width: 100%;
  margin: 0 auto;
  xoverflow: hidden;
  position: relative;
  display: block;
}