
.main-nav-wrapper {
  background-color: rgba(0,0,0,.5);
  position: relative;
  z-index: 1;
}
.main-nav {
  list-style: none;
  margin: 0;
  margin-left: 110px;
  padding: 0;
  > li {
    float: left;
    position: relative;
    margin: 0;
    transition: all .2s ease-in-out;
    & a {
      color: #fff;
      display: block;
      padding: 10px 26px;
      text-align: center;
      transition: all .2s ease-in-out;
      &:hover {
        color: #000;
      }
    }
  }
}

/* dropdown */
.level-2 {
  background-color: rgba(0,0,0,.75);
  position: absolute;
  top: 100%;
  left: 0;
  max-height: 0;
  overflow: hidden;
  list-style:none;
  margin: 0;
  padding: 0;
  width: 250px;
  transition: all .2s linear;
  & li {
    display: block;
    & a {
      display: block;
      text-align: left;
    }
  }
}
.main-nav > li:last-of-type ul {
  right: 0;
  left: auto;
}
.main-nav > li:hover {
  background-color: $yellow;
}
.main-nav > li:hover ul {
  max-height: 200px;
}