/* ---------------------------------------------------------------
Side Navigation
--------------------------------------------------------------- */
.side-navigation {
	@include media-breakpoint-up(md) {
		margin-bottom: 3em;
	}
}
.side-navigation .sec-nav li {
	border-bottom: 1px solid $gray-300;
	position: relative;
}
.sec-nav li a {
	color: $gray-800;
	display: block;
	padding: 10px 0;
	transition: all .2s ease-in-out;
}
.sec-nav li.active a {
	font-weight: bold;
}
.sec-nav li a:hover,
.sec-nav li a:focus,
.sec-nav li.active a {
	background-color: rgba(255,255,255,0.6);
	padding-left: 5px;
}