/* /scss/imports/typography.scss
========================================================================== */
a {color: $link; outline:none; text-decoration: none;}
a:hover {text-decoration: underline;}
a:active {color:#0088cc;}
a:focus {outline:thin dotted;}

p, pre, blockquote, ul, ol, dl, figure, table, fieldset {
    margin: 0.6667em 0;
}
small, .small {font-size: 80%;}

h1,h2,h3,h4,h5,h6 {
    color: #333;
    font-family: $heading-font;
    margin: 1em 0 0.5em;
    line-height: 1.1;
    font-weight: 600;
    text-rendering: optimizelegibility;
}
h1 {
    font-size: 40px;
    margin: .75em 0 .5em;
    @media screen and (min-width: $break-medium) {
        font-size: 50px;
    }
}
h2 {
    font-size: 28px;
    @media screen and (min-width: $break-medium) {
        font-size: 38px;
    }
}
h3 {
    font-size: 22px;
    @media screen and (min-width: $break-medium) {
        font-size: 30px;
    }
}
h4 {
    font-size: 18px;
    @media screen and (min-width: $break-medium) {
        font-size: 24px;
    }
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 18px;
}
h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {margin-top:0;}

.lede {
    font-size: ($base-font * 1.2) + px;
}

ul,ol {
    padding: 0;
    margin-left: 24px;
}
ul ul,ul ol,ol ol,ol ul {
    margin-top: 0;
    margin-bottom: 0;
}
.unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 1em;
}
code, pre {
    padding: 0 3px 2px;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 12px;
    color: #333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
code {
    padding: 2px 4px;
    color: #d14;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}
hr {
    clear: both;
    margin: 1.5em 0;
    border: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;
}

/* Quotes
----------------------------------------------------*/
blockquote {
    margin: 1.6667em 0;
    padding-left: 1em;
    border-left: 5px solid #eee;
}
blockquote small {
    display: block;
    line-height: 20px;
    color: #666;
}
blockquote small:before {
    content: '\2014 \00A0';
}
blockquote.pull-right {
    float: right;
    margin-left: 1em;
    padding-right: 1em;
    padding-left: 0;
    border-right: 5px solid #eee;
    border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
    text-align: right;
}
blockquote.pull-right small:before {
    content: '';
}
blockquote.pull-right small:after {
    content: '\00A0 \2014';
}
q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
}