.main-nav-wrapper {
  position: relative;
  z-index: 1;
  margin-top: 64px;
}
.main-nav {
  display: table;
  list-style: none;
  margin: 0;
  padding: 0;
  > li {
    display: table-cell;
    position: relative;
    xwidth: 5%;
    & a {
      display: block;
      padding: 10px 21px;
      text-align: center;
    }
  }
}
/* dropdown */
.level-2 {
  background-color: #eee;
  position: absolute;
  top: 100%;
  left: 0;
  max-height: 0;
  overflow: hidden;
  list-style:none;
  margin: 0;
  padding: 0;
  width: 250px;
  transition: all .2s linear;
  & li {
    display: block;
    & a {
      display: block;
      text-align: left;
    }
  }
}
.main-nav > li:last-of-type ul {
  right: 0;
  left: auto;
}
.main-nav > li:hover {
  background-color: #eee;
}
.main-nav > li:hover ul {
  max-height: 200px;
}