/*-------------------------------------------
    Colors
-------------------------------------------*/
$link: #0088cc;
$yellow: #ffce39;


/*-------------------------------------------
    Sizes
-------------------------------------------*/
$base-font: 16;
$base-font-size: 16px;


/*-------------------------------------------
    Fonts
-------------------------------------------*/
$heading-font: 'Open Sans', Arial, sans-serif;
$body-font: 'Open Sans', Arial, sans-serif;


/*-------------------------------------------
    Media Queries
-------------------------------------------*/
$break-small: 480px;
$break-medium: 768px;
$break-large: 980px;
$break-xlarge: 1140px;
$break-xxlarge: 1280px;