/*-------------------------------------------
    Colors
-------------------------------------------*/
$link: #005885;
$yellow: #ffce39;


/*-------------------------------------------
    Sizes
-------------------------------------------*/
$base-font: 18;
$base-font-size: 18px;


/*-------------------------------------------
    Fonts
-------------------------------------------*/
$heading-font: "proxima-nova-alt-condensed",sans-serif;
$body-font: "proxima-nova",sans-serif;


/*-------------------------------------------
    Media Queries
-------------------------------------------*/
$break-small: 480px;
$break-medium: 768px;
$break-large: 1040px;
$break-xlarge: 1200px;